Excel Data Classification and Category Analysis.json
{
  "name": "Excel Data Classification and Category Analysis",
  "nodes": [
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "file",
        "options": {}
      },
      "id": "1d0ff230-b6d9-41cd-b66d-0ad2a3c1048f",
      "name": "Extract Excel Data",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1760,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a data analysis expert. Follow the user's instructions carefully and provide detailed, structured analysis of the data provided."
        }
      },
      "id": "b0b55426-99e3-4dc4-b778-3d49ae135c8a",
      "name": "Classify and Analyze Data",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2208,
        128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "e7ff749c-5cad-4cc9-91b5-6d6368061999",
      "name": "OpenAI GPT-4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2288,
        352
      ],
      "credentials": {
        "openAiApi": {
          "id": "WEHev0SIVKma2bn9",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload file",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file"
            },
            {
              "fieldLabel": "rule",
              "placeholder": "which field you want to use to analyse",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        1536,
        128
      ],
      "id": "a3c8122c-0ab2-4fc9-b2d1-edfec813a78f",
      "name": "On form submission",
      "webhookId": "58983c51-6149-4682-92da-5acbe51670ad"
    },
    {
      "parameters": {
        "jsCode": "// Get the rule from the form submission\nconst rule = $('On form submission').first().json.rule;\n\n// Collect all Excel data rows from current items\nconst excelData = $input.all();\n\n// Format the Excel data as a table\nlet dataTable = '';\nif (excelData.length > 0) {\n  // Get column headers from the first item\n  const headers = Object.keys(excelData[0].json);\n  \n  // Create header row\n  dataTable += headers.join(' | ') + '\\n';\n  dataTable += headers.map(() => '---').join(' | ') + '\\n';\n  \n  // Add data rows\n  excelData.forEach(item => {\n    const row = headers.map(header => item.json[header] || '').join(' | ');\n    dataTable += row + '\\n';\n  });\n}\n\n// Build the comprehensive prompt\nconst prompt = `Please analyze the following data according to this rule: \"${rule}\"\n\nData to analyze:\n${dataTable}\n\nBased on the rule provided, please:\n1. Classify the data into appropriate categories\n2. Determine the optimal number of categories\n3. Explain your classification logic\n4. Provide a summary of what each category represents\n5. Include any insights or patterns you observe in the data`;\n\n// Return a single item with the complete prompt\nreturn [{ json: { prompt: prompt } }];"
      },
      "id": "2369413f-3d87-402f-b122-c4cf40801691",
      "name": "Build Prompt from Excel and Rule",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Classify and Analyze Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Excel Data": {
      "main": [
        [
          {
            "node": "Build Prompt from Excel and Rule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt from Excel and Rule": {
      "main": [
        [
          {
            "node": "Classify and Analyze Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e029fb45-1bce-4416-b296-a7c15ef1231c",
  "meta": {
    "instanceId": "56b5afa3c9c4057cfb5084ee4ca81bb2f83bfb02209cf18a98194a9655074461"
  },
  "id": "bzD8lJFhDihltMfo",
  "tags": []
}