excel-ai-classification-workflow-v5.json
{
    "name": "Excel AI Classification Workflow V5 (Keyword + AI Hybrid)",
    "nodes": [
      {
        "parameters": {
          "formTitle": "Excel AI 分類 (關鍵詞+AI混合模式)",
          "formFields": {
            "values": [
              {
                "fieldLabel": "file",
                "fieldType": "file"
              },
              {
                "fieldLabel": "fields",
                "placeholder": "請輸入要分析的欄位，\n用逗號分隔\n（例如：title,content,description）",
                "requiredField": true
              },
              {
                "fieldLabel": "categories",
                "fieldType": "textarea",
                "placeholder": "=請輸入類別和關鍵詞，每個種類別以換行隔開,格式：\n類別1:關鍵詞1,關鍵詞2\n類別2:關鍵詞3,關鍵詞4\n例如：\n專案管理:專案,項目,project\n設備維修:故障,壞掉,維修",
                "requiredField": true
              },
              {
                "fieldLabel": "batch_size",
                "placeholder": "每批處理的資料筆數（預設：100）"
              },
              {
                "fieldLabel": "maximum_class",
                "placeholder": "最多分成幾類（預設：10）"
              }
            ]
          },
          "options": {
            "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
          }
        },
        "type": "n8n-nodes-base.formTrigger",
        "typeVersion": 2.2,
        "position": [
          -2512,
          112
        ],
        "id": "17594373-8031-4e99-bf31-62fb0afb7469",
        "name": "On form submission",
        "webhookId": "excel-classification-form-v5"
      },
      {
        "parameters": {
          "operation": "xlsx",
          "binaryPropertyName": "file",
          "options": {}
        },
        "id": "97fef981-fca4-49ff-856c-d8ef466936db",
        "name": "Extract Excel Data",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          -2304,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// 從表單提交獲取要分析的欄位和類別關鍵詞\nconst formData = $('On form submission').first().json;\nconst fieldsToAnalyze = (formData.fields || 'title,content,description').split(',').map(f => f.trim());\nconst categoriesInput = formData.categories || '';\nconst batchSize = parseInt(formData.batch_size) || 100;\n\n// 解析類別和關鍵詞\n// 格式：類別1:關鍵詞1,關鍵詞2|類別2:關鍵詞3,關鍵詞4\nconst categoryKeywords = {};\nconst categoryList = [];\n\nif (categoriesInput.trim()) {\n  try {\n    const categoryPairs = categoriesInput.split('\\n');\n    categoryPairs.forEach(pair => {\n      const trimmedPair = pair.trim();\n      if (trimmedPair) {\n        const [categoryName, keywordsStr] = trimmedPair.split(':');\n        if (categoryName && keywordsStr) {\n          const category = categoryName.trim();\n          const keywords = keywordsStr.split(',').map(k => k.trim()).filter(k => k);\n          if (category && keywords.length > 0) {\n            categoryKeywords[category] = keywords;\n            categoryList.push(category);\n          }\n        }\n      }\n    });\n  } catch (error) {\n    console.error('Error parsing categories:', error);\n  }\n}\n\n// 收集所有 Excel 資料行\nconst excelData = $input.all();\nconst totalRows = excelData.length;\n\n// 為所有數據準備分析\nconst allRowsData = excelData.map((item, index) => {\n  const row = item.json;\n  const analysisFields = {};\n  const analysisText = [];\n  \n  fieldsToAnalyze.forEach(field => {\n    if (row[field] !== undefined && row[field] !== null && row[field] !== '') {\n      analysisFields[field] = String(row[field]);\n      analysisText.push(`${field}: ${row[field]}`);\n    }\n  });\n  \n  // 將所有分析的文本合併成一個字串（用於關鍵詞匹配）\n  const combinedText = analysisText.join('\\n').toLowerCase();\n  \n  return {\n    rowIndex: index,\n    originalData: row,\n    analysisFields: analysisFields,\n    analysisText: analysisText.join('\\n'),\n    combinedText: combinedText,\n    fieldsUsed: fieldsToAnalyze\n  };\n});\n\nreturn [{\n  json: {\n    fieldsToAnalyze: fieldsToAnalyze,\n    categoryKeywords: categoryKeywords,\n    categoryList: categoryList,\n    totalRows: totalRows,\n    allRowsData: allRowsData,\n    batchSize: batchSize\n  }\n}];"
        },
        "id": "30d51efd-ecad-489f-8d5f-e9779d62861e",
        "name": "Parse Categories and Keywords",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2112,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// 使用關鍵詞進行快速分類\nconst data = $input.item.json;\nconst categoryKeywords = data.categoryKeywords;\nconst categoryList = data.categoryList;\nconst allRowsData = data.allRowsData;\n\nconst keywordMatched = []; // 已通過關鍵詞匹配的資料\nconst unmatched = []; // 無法匹配的資料\n\nallRowsData.forEach(rowData => {\n  let matched = false;\n  let matchedCategory = null;\n  \n  // 檢查每個類別及其關鍵詞\n  for (const [category, keywords] of Object.entries(categoryKeywords)) {\n    // 檢查是否有任何關鍵詞出現在文本中\n    const found = keywords.some(keyword => {\n      const lowerKeyword = keyword.toLowerCase();\n      return rowData.combinedText.includes(lowerKeyword);\n    });\n    \n    if (found) {\n      matched = true;\n      matchedCategory = category;\n      break;\n    }\n  }\n  \n  if (matched && matchedCategory) {\n    // 關鍵詞匹配成功\n    keywordMatched.push({\n      ...rowData,\n      category: matchedCategory,\n      classification_method: 'keyword_match',\n      matched_keywords: categoryKeywords[matchedCategory].filter(k => \n        rowData.combinedText.includes(k.toLowerCase())\n      )\n    });\n  } else {\n    // 無法匹配，需要 AI 分類\n    unmatched.push(rowData);\n  }\n});\n\nreturn [{\n  json: {\n    keywordMatched: keywordMatched,\n    unmatched: unmatched,\n    categoryKeywords: categoryKeywords,\n    categoryList: categoryList,\n    totalRows: data.totalRows,\n    keywordMatchedCount: keywordMatched.length,\n    unmatchedCount: unmatched.length,\n    fieldsToAnalyze: data.fieldsToAnalyze\n  }\n}];"
        },
        "id": "b29f0532-ed18-4b36-acde-54a0698c4665",
        "name": "Keyword Classification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1904,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// 為未匹配的資料準備批次（不生成 prompt，prompt 將在 Loop 中根據累積類別生成）\nconst data = $input.item.json;\nconst unmatched = data.unmatched;\nconst categoryKeywords = data.categoryKeywords;\nconst categoryList = data.categoryList;\n\n// 從表單獲取批次大小\nconst batchSize_user = $('On form submission').first().json.batch_size;\nconst batchSize = batchSize_user ? parseInt(batchSize_user) : 100;\n\n// 如果沒有未匹配的資料，直接返回空數組\nif (unmatched.length === 0) {\n  return [{\n    json: {\n      skipAI: true,\n      message: '所有資料已通過關鍵詞匹配分類'\n    }\n  }];\n}\n\nconst batches = [];\n\n// 將未匹配的資料分成批次\nfor (let i = 0; i < unmatched.length; i += batchSize) {\n  const batch = unmatched.slice(i, i + batchSize);\n  batches.push(batch);\n}\n\n// 為每個批次準備數據（不包含 prompt）\nconst batchItems = batches.map((batch, batchIndex) => {\n  return {\n    json: {\n      batchIndex: batchIndex,\n      batchData: batch,\n      batchSize: batch.length,\n      categoryKeywords: categoryKeywords,\n      categoryList: categoryList,\n      totalBatches: batches.length\n    }\n  };\n});\n\nreturn batchItems;"
        },
        "id": "9db84243-3bc3-4fa0-8e40-8a78a2edbf3d",
        "name": "Prepare AI Classification",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1712,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// 初始化工作流靜態數據，設置累積類別列表\nconst keywordData = $('Keyword Classification').first().json;\nconst categoryList = keywordData.categoryList || [];\nconst categoryKeywords = keywordData.categoryKeywords || {};\n\n// 從表單獲取最多類別數\nconst formData = $('On form submission').first().json;\nconst maximumClass = parseInt(formData.maximum_class) || 10;\n\n// 初始化工作流靜態數據\nconst workflowData = $getWorkflowStaticData('global');\nworkflowData.accumulatedCategories = categoryList;\nworkflowData.maximumClass = maximumClass;\n\n// 獲取 Prepare AI Classification 的輸出（批次數據）\nconst prepareAIData = $('Prepare AI Classification').all();\n\n// 如果沒有批次數據（所有資料都通過關鍵詞匹配），返回空數組\nif (prepareAIData.length === 1 && prepareAIData[0].json.skipAI) {\n  return [prepareAIData[0]];\n}\n\n// 為每個批次添加 categoryKeywords（如果批次數據中沒有）\nconst enrichedBatches = prepareAIData.map(item => {\n  const batchData = item.json;\n  return {\n    json: {\n      ...batchData,\n      categoryKeywords: batchData.categoryKeywords || categoryKeywords,\n      categoryList: batchData.categoryList || categoryList\n    }\n  };\n});\n\nreturn enrichedBatches;"
        },
        "id": "9149047e-2c26-4f16-88b6-93554ca9978c",
        "name": "Initialize Categories",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1504,
          112
        ]
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "id": "6de9f5d0-2b4c-4297-a734-a9a5c30dd08f",
        "name": "Loop Over Batches",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1312,
          112
        ]
      },
      {
        "parameters": {
          "jsCode": "// 根據累積的類別生成當前批次的 prompt\nconst batchInfo = $input.item.json;\nconst batchData = batchInfo.batchData || [];\nconst batchIndex = batchInfo.batchIndex || 0;\nconst categoryKeywords = batchInfo.categoryKeywords || {};\nconst categoryList = batchInfo.categoryList || [];\nconst totalBatches = batchInfo.totalBatches || 1;\n\n// 獲取已累積的類別（從工作流靜態數據）\nconst workflowData = $getWorkflowStaticData('global');\nconst accumulatedCategories = workflowData.accumulatedCategories || categoryList;\nconst maximumClass = workflowData.maximumClass || 10;\nconst existingCategorySet = new Set(accumulatedCategories);\nconst existingCategoryCount = existingCategorySet.size;\nconst maxNewCategories = Math.max(0, maximumClass - existingCategoryCount);\n\n// 構建已定義類別和關鍵詞的說明\nlet categoryDetails = '';\nif (categoryList.length > 0 && categoryKeywords) {\n  categoryDetails = categoryList.map(category => {\n    const keywords = (categoryKeywords[category] || []);\n    if (keywords.length > 0) {\n      return `- ${category}: 關鍵詞包括 ${keywords.join('、')}`;\n    } else {\n      return `- ${category}`;\n    }\n  }).join('\\n');\n} else if (categoryList.length > 0) {\n  categoryDetails = categoryList.map(category => `- ${category}`).join('\\n');\n}\n\n// 構建已創建的新類別列表\nconst newCategories = accumulatedCategories.filter(cat => !categoryList.includes(cat));\nlet newCategoriesDetails = '';\nif (newCategories.length > 0) {\n  newCategoriesDetails = `\\n\\n**前面批次已創建的新類別（共 ${newCategories.length} 個）**：\\n${newCategories.map(cat => `- ${cat}`).join('\\n')}\\n\\n`;\n}\n\n// 構建批次數據表格\nlet dataTable = '編號 | 數據內容\\n';\ndataTable += '--- | ---\\n';\n\nbatchData.forEach((rowData, idx) => {\n  const rowNumber = idx + 1;\n  const content = rowData.analysisText.replace(/\\n/g, ' ').substring(0, 200);\n  dataTable += `${rowNumber} | ${content}\\n`;\n});\n\nconst prompt = `你是一個專業的數據分類系統。請分析以下批量數據，為每一筆數據進行分類。\n\n**已定義的類別（共 ${categoryList.length} 個）**：\\n${categoryDetails}${newCategoriesDetails}**重要分類規則**：\\n1. **類別總數嚴格限制**：整個分類系統的總類別數（已定義 + 新創建）絕對不能超過 ${maximumClass} 個\\n2. **當前狀態**：已有 ${existingCategoryCount} 個類別（${categoryList.length} 個已定義 + ${newCategories.length} 個新創建），最多還可以創建 ${maxNewCategories} 個新類別\\n3. **批次處理說明**：這是第 ${batchIndex + 1} 批（共 ${totalBatches} 批）。前面批次已經創建了 ${newCategories.length} 個新類別，請優先使用已存在的類別（包括已定義和前面批次創建的）\\n4. **優先使用已存在類別**：如果數據與已定義類別或前面批次創建的類別相符，必須選擇已存在的類別，不要創建新類別\\n5. **創建新類別的限制**：\\n   - 只有在數據與所有已存在類別都不符時，才可創建新類別\\n   - 本批次最多建議創建 ${Math.max(0, Math.floor(maxNewCategories / Math.max(1, totalBatches - batchIndex)))} 個新類別\\n   - 如果已有接近 ${maximumClass} 個類別，請將數據歸類到現有類別\\n6. **類別一致性**：如果數據與已存在類別相似，請使用已存在類別，不要創建重複或過於相似的類別\\n7. **類別命名**：新類別名稱必須簡潔明確（不超過15個字），且與已存在類別明顯不同\\n\n數據列表（共 ${batchData.length} 筆）：\\n${dataTable}\\n\\n請以JSON格式返回分類結果，格式如下：\\n{\\n  \"results\": [\\n    { \"編號\": 1, \"類別\": \"類別名稱\" },\\n    { \"編號\": 2, \"類別\": \"類別名稱\" },\\n    ...\\n  ]\\n}\\n\n只返回JSON格式，不要其他文字。`;\n\nreturn [{\n  json: {\n    ...batchInfo,\n    prompt: prompt,\n    accumulatedCategories: accumulatedCategories\n  }\n}];"
        },
        "id": "b8175e3c-315f-4360-96f1-d344e9877f2f",
        "name": "Prepare Batch Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1072,
          128
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.prompt }}",
          "options": {
            "systemMessage": "={{ '你是一個專業的數據分類系統。嚴格遵守類別總數不超過 ' + ($getWorkflowStaticData('global').maximumClass || 10) + ' 個的限制。優先使用已存在的類別，只有在必要時才創建新類別。確保類別名稱簡潔明確，避免重複或過於相似的類別。只返回JSON格式，不要其他說明。' }}"
          }
        },
        "id": "181a1ea7-7b27-49db-9612-5609e50ca2c0",
        "name": "AI Classify Rows",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2.2,
        "position": [
          -896,
          128
        ]
      },
      {
        "parameters": {
          "jsCode": "// 收集 AI 創建的類別並更新累積列表\nconst aiResponse = $input.item.json;\n// 從當前輸入獲取批次信息（AI 回應中已經包含了 batchInfo）\nconst batchInfo = aiResponse.batchInfo || $('Prepare Batch Prompt').first().json;\nconst categoryList = batchInfo.categoryList || [];\n\n// 獲取當前累積的類別和最多類別數限制\nconst workflowData = $getWorkflowStaticData('global');\nlet accumulatedCategories = workflowData.accumulatedCategories || categoryList;\nconst maximumClass = workflowData.maximumClass || 10;\nif (!Array.isArray(accumulatedCategories)) {\n  accumulatedCategories = categoryList;\n}\n\n// 提取 AI 回應中的類別\nlet responseText = '';\nif (aiResponse.output) {\n  responseText = aiResponse.output.trim();\n} else if (aiResponse.text) {\n  responseText = aiResponse.text.trim();\n} else if (aiResponse.message && aiResponse.message.content) {\n  responseText = aiResponse.message.content.trim();\n}\n\nconst newCategories = new Set();\n\n// 解析 AI 回應，提取新創建的類別\ntry {\n  const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    const parsed = JSON.parse(jsonMatch[0]);\n    const results = parsed.results || [];\n    \n    results.forEach(result => {\n      const category = (result.類別 || result.category || result.class || '').trim();\n      if (category && !categoryList.includes(category)) {\n        newCategories.add(category);\n      }\n    });\n  }\n} catch (error) {\n  console.error('Error parsing AI response for categories:', error);\n}\n\n// 更新累積類別列表（只添加新類別，確保不超過最大類別數）\nconst updatedCategories = [...accumulatedCategories];\nnewCategories.forEach(category => {\n  if (!updatedCategories.includes(category) && updatedCategories.length < maximumClass) {\n    updatedCategories.push(category);\n  }\n});\n\n// 更新工作流靜態數據\nworkflowData.accumulatedCategories = updatedCategories;\n\n// 返回 AI 回應和批次信息\nreturn [{\n  json: {\n    ...aiResponse,\n    batchInfo: batchInfo,\n    newCategories: Array.from(newCategories),\n    totalCategories: updatedCategories.length\n  }\n}];"
        },
        "id": "08c23136-c715-40a0-8f43-f1d072de1e44",
        "name": "Collect Categories",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -608,
          128
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-5-mini",
            "mode": "id"
          },
          "options": {}
        },
        "id": "c369b79e-ce93-4401-9859-926229d57f5d",
        "name": "OpenAI GPT-5-mini",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          -896,
          352
        ],
        "credentials": {
          "openAiApi": {
            "id": "ayV8Froxfuj94bRl",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// 處理 Loop 輸出的 AI 分類結果並合併\nconst allInputs = $input.all();\n\n// 檢查是否需要處理 AI 結果（可能第一個 item 是 skip 標記）\nif (allInputs.length === 1 && allInputs[0].json.skipAI) {\n  // 沒有 AI 分類結果，直接返回空數組（關鍵詞匹配的結果在另一個分支）\n  return [{\n    json: {\n      aiClassified: [],\n      skipAI: true\n    }\n  }];\n}\n\n// 收集所有已存在的類別（從關鍵詞匹配）\nconst keywordData = $('Keyword Classification').first().json;\nconst existingCategories = new Set(keywordData.categoryList || []);\n\n// 處理每個批次的 AI 分類結果（來自 Loop）\nconst allAiClassified = [];\n\nallInputs.forEach((inputItem) => {\n  const aiResponse = inputItem.json;\n  const batchInfo = inputItem.json.batchInfo || null;\n  \n  if (!batchInfo || !batchInfo.batchData) {\n    console.error('無法找到對應的批次資料');\n    return;\n  }\n  \n  const batchIndex = batchInfo.batchIndex || 0;\n  \n  // 提取 AI 回應文本\n  let responseText = '';\n  \n  try {\n    if (aiResponse.output) {\n      responseText = aiResponse.output.trim();\n    } else if (aiResponse.text) {\n      responseText = aiResponse.text.trim();\n    } else if (aiResponse.message && aiResponse.message.content) {\n      responseText = aiResponse.message.content.trim();\n    } else if (typeof aiResponse === 'string') {\n      responseText = aiResponse.trim();\n    }\n    \n    // 提取 JSON 部分（移除可能的 markdown 代碼塊）\n    const jsonMatch = responseText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      const results = parsed.results || [];\n      \n      // 將分類結果映射回原始資料\n      results.forEach(result => {\n        const itemNumber = result.編號 || result.number || result.id;\n        const category = result.類別 || result.category || result.class || '未分類';\n        \n        // 找到對應的原始資料（批次內的索引，編號是從1開始的）\n        const itemIndex = itemNumber - 1;\n        const rowData = batchInfo.batchData[itemIndex];\n        \n        if (rowData) {\n          const trimmedCategory = category.trim() || '其他';\n          \n          allAiClassified.push({\n            json: {\n              ...rowData.originalData,\n              classification_result: trimmedCategory,\n              classification_method: 'ai',\n              classified_at: new Date().toISOString(),\n              row_number: rowData.rowIndex + 1\n            }\n          });\n        } else {\n          console.error(`無法找到對應的資料項 (itemNumber: ${itemNumber}, batchIndex: ${batchInfo.batchIndex})`);\n        }\n      });\n    } else {\n      // 如果無法解析 JSON，嘗試逐行解析（降級處理）\n      console.warn('無法解析 JSON 格式，嘗試逐行解析');\n      const lines = responseText.split('\\n').filter(line => line.trim());\n      batchInfo.batchData.forEach((rowData, idx) => {\n        const line = lines[idx] || '';\n        let category = '其他';\n        \n        // 嘗試從行中提取類別名稱\n        const categoryMatch = line.match(/[類別|category|class][:：]?\\s*([^\\n，,，]+)/i);\n        if (categoryMatch) {\n          category = categoryMatch[1].trim();\n        } else if (line.trim()) {\n          category = line.trim().replace(/^[0-9]+[.\\-\\s]*/, '').trim();\n        }\n        \n        allAiClassified.push({\n          json: {\n            ...rowData.originalData,\n            classification_result: category || '其他',\n            classification_method: 'ai',\n            classified_at: new Date().toISOString(),\n            row_number: rowData.rowIndex + 1\n          }\n        });\n      });\n    }\n  } catch (error) {\n    console.error(`Error parsing batch ${batchIndex} AI classification result:`, error);\n    // 如果解析失敗，為該批次的所有資料設置默認類別\n    batchInfo.batchData.forEach(rowData => {\n      allAiClassified.push({\n        json: {\n          ...rowData.originalData,\n          classification_result: '其他',\n          classification_method: 'ai',\n          classified_at: new Date().toISOString(),\n          row_number: rowData.rowIndex + 1\n        }\n      });\n    });\n  }\n});\n\n// 類別已經在 Loop 中通過工作流變數累積，這裡只需要合併結果\nreturn [{ json: { aiClassified: allAiClassified } }];"
        },
        "id": "9353690e-eb93-4be2-a4fb-f0c6304d3b8b",
        "name": "Merge AI Classification Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1072,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "// 合併關鍵詞匹配和 AI 分類的所有結果\n// 從 Keyword Classification 節點獲取關鍵詞匹配的結果\nconst keywordData = $('Keyword Classification').first().json;\n\n// 從當前輸入（來自 Merge AI Classification Results）獲取 AI 分類的結果\nconst aiData = $input.item.json;\n\n// 獲取關鍵詞匹配的結果\nconst keywordMatched = keywordData.keywordMatched || [];\n\n// 獲取 AI 分類的結果\nconst aiClassified = aiData.skipAI ? [] : (aiData.aiClassified || []);\n\n// 將關鍵詞匹配的結果轉換為最終格式\nconst keywordResults = keywordMatched.map(item => ({\n  json: {\n    ...item.originalData,\n    classification_result: item.category,\n    classification_method: 'keyword_match',\n    matched_keywords: item.matched_keywords || [],\n    classified_at: new Date().toISOString(),\n    row_number: item.rowIndex + 1\n  }\n}));\n\n// 合併所有結果\nconst allResults = [...keywordResults, ...aiClassified];\n\n// 按原始索引排序（確保順序一致）\nallResults.sort((a, b) => (a.json.row_number || 0) - (b.json.row_number || 0));\n\nreturn allResults;"
        },
        "id": "4280e46b-cf3b-4d09-851e-b0a12b892c81",
        "name": "Merge All Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -864,
          -96
        ]
      },
      {
        "parameters": {
          "jsCode": "// 清理輸出數據，只保留原始欄位和 classification_result\nconst allItems = $input.all();\n\n// 獲取原始 Excel 的欄位名稱（從第一筆資料中獲取，排除我們添加的欄位）\nconst excludedFields = ['classification_method', 'matched_keywords', 'classified_at', 'row_number', 'category', 'error'];\n\nconst cleanedResults = allItems.map(item => {\n  const originalJson = item.json;\n  \n  // 獲取所有原始欄位（排除我們添加的欄位）\n  const originalFields = {};\n  Object.keys(originalJson).forEach(key => {\n    if (!excludedFields.includes(key)) {\n      originalFields[key] = originalJson[key];\n    }\n  });\n  \n  // 只保留原始欄位 + classification_result\n  return {\n    json: {\n      ...originalFields,\n      classification_result: originalJson.classification_result || '未分類'\n    }\n  };\n});\n\nreturn cleanedResults;"
        },
        "id": "d7ea74bc-f31c-47d6-904c-18432071e6ba",
        "name": "Clean Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -656,
          -96
        ]
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {}
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          -464,
          -96
        ],
        "id": "4ed547d0-6c71-4065-b199-181f51ee614e",
        "name": "Export to Excel"
      }
    ],
    "pinData": {},
    "connections": {
      "On form submission": {
        "main": [
          [
            {
              "node": "Extract Excel Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Excel Data": {
        "main": [
          [
            {
              "node": "Parse Categories and Keywords",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Categories and Keywords": {
        "main": [
          [
            {
              "node": "Keyword Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Keyword Classification": {
        "main": [
          [
            {
              "node": "Prepare AI Classification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare AI Classification": {
        "main": [
          [
            {
              "node": "Initialize Categories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Initialize Categories": {
        "main": [
          [
            {
              "node": "Loop Over Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Batch Prompt": {
        "main": [
          [
            {
              "node": "AI Classify Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Classify Rows": {
        "main": [
          [
            {
              "node": "Collect Categories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Batches": {
        "main": [
          [
            {
              "node": "Merge AI Classification Results",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Batch Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge AI Classification Results": {
        "main": [
          [
            {
              "node": "Merge All Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge All Results": {
        "main": [
          [
            {
              "node": "Clean Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Clean Output": {
        "main": [
          [
            {
              "node": "Export to Excel",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI GPT-5-mini": {
        "ai_languageModel": [
          [
            {
              "node": "AI Classify Rows",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Collect Categories": {
        "main": [
          [
            {
              "node": "Loop Over Batches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": false,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "fc3b2c4e-2b5d-4141-b1f7-4aa65d2157f8",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "56b5afa3c9c4057cfb5084ee4ca81bb2f83bfb02209cf18a98194a9655074461"
    },
    "id": "ZMithLyqcxCnUR6k",
    "tags": []
  }